
.App{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom,rgb(99, 106, 201),rgb(70, 21, 161));
  height: 100vh;
  color: white;
}

.conditions{
  border-radius: 10px;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

#forecastBtn{
  border: none;
  background-color: white;
  color: rgb(33, 46, 228);
  font-weight: bold;
  border-radius: 50px;
  font-size: 1rem;
  padding:1rem;
  transition: .3s;
}

.icon{
  font-size: 1.8rem;
  color: rgb(214, 96, 96);
}

input{
  padding: 1rem;
  border-radius: 50px;
  font-size: 1rem;
  border: none;
  color: rgb(33, 46, 228);
  font-size: 1rem;
  font-weight: bold;
}

#weatherIcon{
  /* background: #fff;
  border-radius: 50px; */
}

button:focus,input:focus{
  outline: none;
}

#forecastBtn:hover{
  cursor: pointer;
  color: white;
  color: rgb(214, 96, 96);
  transition: .3s;
}
input::placeholder{
  color: rgb(33, 46, 228);
}
